@import '_normalize.scss';
@import '_grid.scss';
$blue:#fd357a;
$blue2:darken($blue,15%);
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:black;
}
///////////////////////////////////////////////////////////////////////////////////////
header{
	height:100%;
	width:100%;
	position: fixed;
	background-color: #f1f1f1;
}
.logo{
	position: absolute;
	transform: translate3d(0,77%,0);
	width: 100%;
	svg{
		width: 25%;
		display: block;
		margin: 0 auto;
		fill:$blue;
	}
}
.load{
	width: 100%;
	position: absolute;
	bottom: 45%;
	svg{
		display: block;
		margin: 0 auto;
		fill:none;
		width: 80px;
		transform: scale(8);
		.circlebg{
			stroke:#ccc;
			stroke-width:1;
		}
		.circle{
			stroke:$blue2;
			stroke-width:1;
		}
			
	}
}
//////////////////////////////////////////////////////////////////////////////////////
section{
	display: none;
}
nav{
	width: 100%;
	 .main-nav{
		display: flex;
		width:60%;
		border: 1px solid yellow;
		li{
			width:33.333333333333333%;
			border: 1px solid red;
			a{
				border: 1px solid blue;
				display: block;
				padding:10px;
				text-align: center;
			}
		}
	}
}