@import '_start-animation.scss';
@import '_icon.scss';
$work-color:#ededed;
$bg:hsla(0, 0%, 100%, 0.88);
$menu-color:darken(complement($blue),30%);
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
.inner-container{
	background: repeating-linear-gradient(-45deg, $blue, $blue 20px, $blue2 20px, $blue2 40px);  ;
	background-size:cover;
}
section{
		background-color: $bg;
	
}
nav{
	
	background-color: $bg;
	 .main-nav{
		 margin: 0 auto;
		 display: flex;
		 
		width:60%;
		 li:first-child{
			 position: relative;
			 
		 }
		li{
			width: 33.3333333333%;
			padding: 0;
			div{
				transition:all .4s cubic-bezier(.46,-0.02,.95,.64);
			 position: absolute;
			 height:3px;
			 width:100%;
			 bottom: 0;
			 background-color: $menu-color;
		 }
			a{
				cursor: pointer;
				
				font-family: 'Open Sans Condensed', sans-serif;
				display: block;
				padding:20px 10px;
				font-size:1.4em;
				text-align: center;
				position: relative;

			}
				[class^="icon-"]:before{
					position: absolute;
					left:20%;
					font-family: 'icomoon';
					top:32%;
				}
		}
	}
	
}
		 .move1 .move{
			 height:3px;
				 left:100%;
			 
		 }
		  .move2 .move{
			height:3px;
				 left:200%;
			 
		 }
.move{
	left:0;
}
li:hover a{
	color:$menu-color;
}
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.title{
	border-top: 1px solid hsla(0, 0%, 0%, 0.14);
	text-align: center;
	padding:60px 0;
	color:#fff;
	margin-bottom: 90px;
	font-size: 4.5em;
	font-family: 'Shadows Into Light', cursive;
}
.section1{
	display: flex;
	justify-content: center;
	div{
		width: 45%;
	}
	p{
		font-family: 'Open Sans Condensed', sans-serif;
	}
}
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
.section2{
	ul{
		display: flex;
		justify-content: center;
		margin-top:90px;
	}
	
	li{
		margin:0 10px;
		border:1px solid $menu-color;
		overflow: hidden;
		width:500px;
		padding:10px;
		a{
			display: block;
			position:relative;
			p,div{
				position: absolute;
				padding: 0;
				margin:0;
				transition: all .3s ease;
			}
			p{
				z-index: 200;
				text-align: center;
				width: 100%;
				font-size:1.6em;
				font-weight: 500;
				font-family: 'Poiret One', cursive;
				bottom:-15%;
				font-weight: bold;
				color:$work-color;
				
			}
			div:nth-child(3){
				height:1%;
				z-index: 200;
				width:80%;
				left:10%;
				opacity: 0;
				background-color: $work-color;
				top:-2%;
			}
			div:last-child{
				height: 100%;
				top:0;
				z-index: 150;
				width:100%;
				background-color: hsla(0, 0%, 0%, 0.39);
				opacity: 0;
			}
			img{
				
			}
		}
	}
	li:hover{
		
		p{
			bottom:50%;
		}
		div:nth-child(3){
			top:60%;
			opacity: 1;
		}
		div:last-child{
			opacity: 1;
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
section{
	position: relative;
	height:569px;
	overflow: hidden;
}
.section1,.section2,.section3{
	min-width:100%;
}
.slide{
	position: absolute;
	top:0;
	transition:all .4s cubic-bezier(.46,-0.02,.95,.64);
	display: flex;
	width: 100%;
	div{
		float: left;
	}
}
section::after,.slide::after{
	content: "";
	display: table;
	clear: both;
}
.move1 .slide{
	left:-100%;
}
.move2 .slide{
	left:-200%;
}
.slide{
	left:0;
	height: 100%;
}
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
footer{
	height:15%;
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	text-align:center;
	font-weight:300;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#fff;
	font-style:normal;
	p:first-child{
		padding: 10px 0;
		margin:0;
	}
	p:last-child{
		font-size:.8em;
		}
	}